People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>

<h2 class="center-align">My dinner</h2>
	<div class="col-xs-8">Number of people</div>
	<input class="col-xs-4" type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
	</br>
	</br>
<div class="box subcolor padded">
	<div class="row underline bold">
		<div class="col-xs-7">Dish</div>
		<div class="col-xs-3">Cost</div>
	</div>
	<div class="underline" ng-repeat="dish in getFullMenu()">
		<a ng-href="#/dish/{{dish.RecipeID}}" class="row">
			<div class="col-xs-12 bold">{{dish.Category}}</div>
			<div class="col-xs-7">{{dish.Title}}</div>
			<div class="col-xs-3">{{getDishPrice(dish)}}</div>
		</a>
	</div>
	<div class="row">
		<div class="col-xs-7">Total SEK</div>
		<div class="col-xs-3">{{getTotalMenuPrice()}}</div>
	</div>
	<div class="center-align">
		<a ng-href="#/overview" class="btn main-btn confirm-btn">Confirm menu</a>
	</div>
</div>
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
Total number of guest: {{getNumberOfGuests()}}