<!-- We include the sidebar as it is shared across two screens. -->
<ng-include ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div class="row">
	<div class="box col-xs-3">
		<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
	</div>
	<div class="box col-xs-9">
		<div class="row">
		  <div class="container col-xs-6">
		  	<h2>{{dish.Title}}</h2>
		  	<h3>{{dish.Category}}</h3>
		  	<img class="dish-box" ng-src="{{dish.ImageURL}}"/>
		  	<h3>Description</h3>
		  	<p>{{dish.Description}}</p>
		  	<h3>Preparation</h3>
		  	<p>{{dish.Instructions}}</p>
		  </div>
		  <div class="box subcolor col-xs-6">
		  	<h3>Ingredients for {{getNumberOfGuests()}} people</h3>
		  	<div class="row underline" ng-repeat="ingredient in dish.Ingredients">
		  		<div class="col-xs-1">{{getIngredientQuantity(ingredient.Quantity)}}</div>
		  		<div class="col-xs-3">{{ingredient.Unit}}</div>
		  		<div class="col-xs-5">{{ingredient.Name}}</div>
		  		<div class="col-xs-1">SEK</div>
		  		<div class="col-xs-1">{{getIngredientPrice(ingredient.Quantity)}}</div>
		  	</div>
		  	<hr class="divider"/>
		  	<div class="row text-center">
		  		Total SEK {{getDishPrice()}}
		  	</div>
	  		<div class="row">
	  			<div class="col-xs-6 center-align">
	  				<a ng-href="#/search" class="btn main-btn">Back to search</a>
	  			</div>
	  			<div ng-if="!isAddedToMenu()" class="col-xs-6 center-align">
	  				<a ng-href="#/search" class="btn main-btn confirm-btn" ng-click="addDishToMenu()">Add dish to menu</a>
	  			</div>
	  			<div ng-if="isAddedToMenu()" class="col-xs-6 center-align">
	  				<a ng-href="#/search" class="btn main-btn remove-btn" ng-click="removeDishFromMenu()">Remove from menu</a>
	  			</div>
	  		</div>
		  </div>
	  </div>
	</div>
</div>
