<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
	<div class="box col-xs-12">
		<div class="top-box row subcolor">
		  <div class="">
		  	<div class="col-xs-3 center-align">
  				<a ng-href="#/search" class="btn main-btn">Go back and edit dinner</a>
  			</div>
		  	<div class="col-xs-6">
		  		<div><h2>My dinner: {{getNumberOfGuests()}} people</h2></div>
		  	</div>
		  	<div class="col-xs-3 center-align">
  				<a ng-href="#/preparation" class="btn main-btn confirm-btn">Continue to preparations</a>
  			</div>
	  	</div>
		</div>
	</div>
</div>
<div class="box top-padding">
  <div class="row">
		<div class="col-xs-9 scrollable flex ">
			<div ng-repeat="dish in getFullMenu()">
				<a ng-href="#/dish/{{dish.RecipeID}}">
					<div class="dish-container col-xs-3">
						<div class="dish-box">
							<img ng-src="{{dish.ImageURL}}"/>
							<div class="dish-name">
								{{dish.Title}}
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	  <div class="col-xs-3">
	    <div class="vertical-line">
	      <p>Total SEK: {{getTotalMenuPrice()}}</p>
	    </div>
	  </div>
  </div>
</div>

Status API Training Shop Blog About Pricing

